server {
    listen 443 ssl;
    server_name google.com;
    root /usr/share/nginx/www;
    index index.html index.htm;
    ssl_certificate /etc/nginx/SSL_certs/example.by.pem;
    ssl_certificate_key /etc/nginx/SSL_certs/example.by.key;
}

server {
    listen 443 ssl;
    server_name onliner.by;
    root /usr/share/nginx/www;
    index index.html index.htm;
    ssl_certificate /etc/nginx/SSL_certs/example.by.pem;
    ssl_certificate_key /etc/nginx/SSL_certs/example.by.key;
}